:global {
  body {
    background-color: #3e3e3e !important;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    font-family: Roboto Mono, monospace;
    position: absolute;
    top: 50%;
    left:50%;
    width: 100%;
    margin: 0;
    transform: translate(-50%,-50%);
  }
  .row {
    display: table;
    .picture, .information {
      display: table-cell;
      float: none;
    }
    .picuture {
      float: left;
    }
    .json {
      position: absolute;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .picture, .information {
    margin: 0 auto;
    max-width: 420px;
  }
}

.picture, .information {
  padding: 0 !important;
}

.information {
  @media screen and (min-width: 992px) {
    & {
      font-size: 28px;
    }
  }
  font-size: 20px;
  font-weight: bold;
  .json {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 30px;
    .fields {
      padding-left: 30px;
      // TODO : change h4 to className key, value, field
      h4 {
        font-size: 0.7em;
        font-weight: bold;
      }
    }
    &::before {
      content: '{';
    }
    &::after {
      content: '}';
    }
    &::before, &::after {
      font-size: 0.8em;
      font-weight: bold;
    }
  }
  .filename {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 0.7em;
  }
  background-color: #eeeeee;
}
