:global {
  body {
    background-color: #3e3e3e !important;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    font-family: Roboto Mono, monospace;
    position: absolute;
    top: 50%;
    left:50%;
    width: 100%;
    margin: 0;
    transform: translate(-50%,-50%);
  }
  .row {
    display: table;
    .picture, .information {
      display: table-cell;
      float: none;
    }
    .picuture {
      float: left;
    }
    .json {
      position: absolute;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .picture, .information {
    margin: 0 auto;
    max-width: 420px;
  }
}

.picture, .information {
  padding: 0 !important;
}

@media screen and (min-width: 768px) {
  .icon-contact {
    width: 1.55em !important;
    margin-right: 0.1em;
  }
}

.information {
  @media screen and (min-width: 992px) {
    & {
      font-size: 28px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      font-size: 38px;
    }
  }
  font-size: 20px;
  font-weight: bold;
  .json {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 30px;
    .fields {
      padding-left: 30px;
      // TODO : change h4 to className key, value, field
      .field {
        font-size: 0.7em;
        font-weight: bold;
      }
    }
    &::before {
      content: '{';
    }
    &::after {
      content: '}';
    }
    &::before, &::after {
      font-size: 0.8em;
      font-weight: bold;
    }
  }
  .filename {
    position: absolute;
    padding-left: 10px;
    padding-top: 0.4em;
    font-size: 0.7em;
    color: grey;
  }
  background-color: #eeeeee;
}

.icon-contact {
  width: 2.5em;
  margin-right: 0.1em;
}

.disable {
  opacity: 0.2;
  pointer-events: none;
}

.keyname {
  .start, .end {
    color: #3923D6;
    // color: #01F33E;
    // color: #01F33E;
  }
  .content {
    color: #1FCB4A;
  }
}
